refs/*

# Local backup files.
*_old


/lib/syscalls.asm
/lib/syscalls-ps5.asm
# Build artifacts from ps5-kstuff-ldr/.
/ps5-kstuff-ldr/kstuff.elf
/ps5-kstuff-ldr/payload_bin.c

# Build artifacts from ps5-kstuff/.
/ps5-kstuff/kelf
/ps5-kstuff/kelf.o
/ps5-kstuff/payload.elf
/ps5-kstuff/payload.bin
/ps5-kstuff/structs.h
/ps5-kstuff/structs.inc
/ps5-kstuff/uelf/crt.o
/ps5-kstuff/uelf/uelf
/ps5-kstuff/uelf/uelf.bin
/ps5-kstuff/debug-reader.bin
/ps5-kstuff/debug-reader.elf
/ps5-kstuff/.build-config
logs/
__pycache__/
*.bin
*.elf
*.o
*.a
